@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-nav {
  border-bottom: 1px solid black;
  width: 100%;
  height-min: 30px;
  height-max: 150px;
}
.round-image-50 {
    background-color: white;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img {
      width: 4%;
      margin: 10px;
    }
}
