@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-collapse {
  border-bottom: 1px solid black;
  width: 100%;
  height-max: 150px;
  height: 75px;
}
.round-image-50 {
    background-color: white;
    // border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img {
      margin: 10px;
      border-radius: 50%;
    }
}
